# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_EDINBURGH41

config ZMK_KEYBOARD_NAME
    default "Edinburgh41"

config JOYSTICK
	default y

config ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE
	default y

config ZMK_RGB_UNDERGLOW_AUTO_OFF_USB
	default y

endif
